
  <thf-page-default (onload)="onLoad()">

      <div class="thf-row thf-mt-3">
          <div class="thf-offset-lg-1 thf-offset-xl-1 thf-xl-10 thf-lg-10 thf-md-12 thf-sm-12">
              <thf-container >
                  <thf-kendo-grid
                    id="teste"
                    [t-data]="dataItems"
                    [t-columns]="columns"
                    t-editable="true"
                    t-selectable="true"
                    (t-save-value)="onEditable($event)"
                    t-save-action="onSave"
                    (t-selection-change)="onSelectionChange($event)"
                  >
                  </thf-kendo-grid>
                  
                  <div class=" thf-m-3">
                      <thf-button
                      t-label="Voltar"
                      (t-click)="onSubmit()"
                      >
                    </thf-button>
                
                    <thf-button
                      t-label="Enviar Para Aprovação"
                      (t-click)="onSubmit()"
                      t-type="primary"
                      class=" thf-ml-2"
                      >
                    </thf-button>
                  </div>
                  
                </thf-container>
          </div>
      </div>
    
  </thf-page-default>

